---
import SearchBar from "../components/SearchBar.astro";
import TodoList from "../components/TodoList.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro Todo App</title>
  </head>
  <body>
    <h1>Astro Todo App</h1>
    <SearchBar />
    <TodoList />
  </body>
</html>
